* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3e5;
    color: #333;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #faf9f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logoo{
    height: 60px;
    width: auto;
}


header .auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons .btn {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.auth-buttons .signup {
    background-color: #d3d3d3;
}

.auth-buttons .btn:hover {
    background-color: #ccc;
}

/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}

.text-content{
    padding-left: 50px;
    padding-top: 30px;
}

.text-content h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}

.text-content p {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    padding-left:5px;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-buttons .btn {
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #d3d3d3;
    color: #333;
    background-color:#faf9f6;
    cursor: pointer;
}

.cta-buttons .btn:hover {
    background-color: #e0e0e0;
}

.image-content img {
    margin-left: 100px;
    width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
